body{
    background: url("../img/formBackground.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
form{
    width: 400px;
    border-radius: 5px;
    padding: 10px;
    font-family: calibri;
    font-size: 12px;
}
div{
    margin: 2px 10px;
    background:rgba(255,255,255, 0.3);
    border: 1px solid white;
    border-radius: 5px;
}
label{
    width: 28%;
    float:left;
    margin:5px;
}
input.cards{
    width:10px;
}
span{
    margin:10px;
}
p{
    color:white;
    font-weight: bold;
    font-size: 15px;
    margin: 5px 10px;
}
input{
    width: 200px;
    color:gray;
    margin: 3px 5px;
    background:rgba(255,255,255, 0.7);
    opacity: 1;
    border-radius:3px;
}
img{
    width:25px;
    height:15px;
    margin: auto 0;
}
.active:focus{
    background-color: #F7D358;
}
#button{
    display:block;
    width:100px;
    margin: 5px auto;
    border-radius: 20px;
    color: white;
    border-color: #0B0B3B;
    background-color: #0B0B3B;
    font-size: 18px;
}
div#address{
    height: 70px;
}
div#cards{

    border:none;
    background:rgba(255,255,255, 0.3);
}
input#address2{
    height: 50px;
    margin-top: 5px;
}
label#top-left{
    float: none;
    text-align: left;

}
